@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*
{
  margin: 0;
  padding: 0;
}

body
{
  line-height: 23px;
}

.fonts
{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: larger;
}

.gridBox
{
  display: flex;
  flex-wrap: wrap;
}